# 2014 - 2017 Shooting Data Analysis

Data Source: http://www.gunviolencearchive.org/

In [53]:
import pandas as pd

In [54]:
df14 = pd.read_csv("Data/2014.csv")
df15 = pd.read_csv("Data/2015.csv")
df16 = pd.read_csv("Data/2016.csv")
df17 = pd.read_csv("Data/2017.csv")
df14.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,12/31/14,California,Los Angeles,81st Street and Western Avenue,1,3,NaN
1,12/29/14,Louisiana,New Orleans,Poydras and Bolivar,0,4,NaN
2,12/27/14,California,Los Angeles,8800 block of South Figueroa Street,1,3,NaN
3,12/27/14,California,Sacramento,4000 block of May Street,0,4,NaN
4,12/26/14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,NaN

In [55]:
frames = [df14, df15, df16, df17]

In [56]:
df = pd.concat(frames).fillna(0)
df.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,12/31/14,California,Los Angeles,81st Street and Western Avenue,1,3,0.0
1,12/29/14,Louisiana,New Orleans,Poydras and Bolivar,0,4,0.0
2,12/27/14,California,Los Angeles,8800 block of South Figueroa Street,1,3,0.0
3,12/27/14,California,Sacramento,4000 block of May Street,0,4,0.0
4,12/26/14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,0.0

In [57]:
df['Date'] = pd.to_datetime(df['Incident Date'], format="%m/%d/%y")
df.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Date
0,12/31/14,California,Los Angeles,81st Street and Western Avenue,1,3,0.0,2014-12-31
1,12/29/14,Louisiana,New Orleans,Poydras and Bolivar,0,4,0.0,2014-12-29
2,12/27/14,California,Los Angeles,8800 block of South Figueroa Street,1,3,0.0,2014-12-27
3,12/27/14,California,Sacramento,4000 block of May Street,0,4,0.0,2014-12-27
4,12/26/14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,0.0,2014-12-26

# Incident Analysis

In [75]:
df['Kill+Injured'] = df['# Killed'] + df['# Injured']
df.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Date,Kill+Injured
0,12/31/14,California,Los Angeles,81st Street and Western Avenue,1,3,0.0,2014-12-31,4
1,12/29/14,Louisiana,New Orleans,Poydras and Bolivar,0,4,0.0,2014-12-29,4
2,12/27/14,California,Los Angeles,8800 block of South Figueroa Street,1,3,0.0,2014-12-27,4
3,12/27/14,California,Sacramento,4000 block of May Street,0,4,0.0,2014-12-27,4
4,12/26/14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,0.0,2014-12-26,4

In [73]:
df.sort_values(by='# Killed', ascending=False)

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Date
55,10/1/17,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,441,0.0,2017-10-01
247,6/12/16,Florida,Orlando,1912 S Orange Avenue,50,53,0.0,2016-06-12
20,11/5/17,Texas,Sutherland Springs,216 4th St,27,20,0.0,2017-11-05
18,12/2/15,California,San Bernardino,1365 South Waterman Avenue,16,19,0.0,2015-12-02
66,10/1/15,Oregon,Roseburg,1140 Umpqua College Rd,10,9,0.0,2015-10-01
236,5/17/15,Texas,Waco,4671 S Jack Kultgen Fwy,9,18,0.0,2015-05-17
196,6/17/15,South Carolina,Charleston,110 Calhoun Street,9,0,0.0,2015-06-17
77,9/10/17,Texas,Plano,1712 West Spring Creek Parkway,9,1,0.0,2017-09-10
129,8/8/15,Texas,Houston,2211 Falling Oaks,8,0,0.0,2015-08-08
195,5/27/17,Mississippi,Bogue Chitto,2871 Lee Drive,8,1,0.0,2017-05-27
295,2/26/15,Missouri,Tyrone,18279 Highway H,8,1,0.0,2015-02-26
305,4/22/16,Ohio,Piketon,4077 Union Hill Road,8,0,0.0,2016-04-22
73,9/18/14,Florida,Bell,NW 30th Street and NW 39th Terrace,8,0,0.0,2014-09-18
15,12/15/14,Pennsylvania,Lansdale,100 block of West 5th St,7,0,0.0,2014-12-15
373,1/27/16,Virginia,Chesapeake,1401 N. George Washington Hwy,6,0,0.0,2016-01-27
159,7/16/15,Tennessee,Chattanooga,4051 Amnicola Highway,6,2,0.0,2015-07-16
10,11/14/17,California,Corning,17357 Stagecoach Rd,6,12,0.0,2017-11-14
182,6/5/17,Florida,Orlando,2427 Forsyth Rd,6,0,0.0,2017-06-05
306,4/22/16,Georgia,Appling,3162 Johnson Drive,6,0,0.0,2016-04-22
355,2/20/16,Michigan,Kalamazoo,5581 Cracker Barrel Blvd,6,2,0.0,2016-02-20
83,9/17/15,South Dakota,Geddes,36705 379th Street,6,0,0.0,2015-09-17
140,7/9/14,Texas,Spring,711 Leaflet Ln,6,1,0.0,2014-07-09
168,6/15/17,New Mexico,La Madera,491 NM 111,5,0,0.0,2017-06-15
13,12/17/16,Illinois,Chicago (Roseland),100 block of West 105th Street,5,0,0.0,2016-12-17
37,11/15/15,Texas,Tennessee Colony,800 block of County Road 2217,5,0,0.0,2015-11-15
218,6/29/16,Nevada,Las Vegas,6100 block of West Lake Mead Boulevard,5,0,0.0,2016-06-29
92,9/10/15,Minnesota,Excelsior (Greenwood),Channel Drive,5,0,0.0,2015-09-10
241,2/25/14,Virginia,Glade Spring,Graceland Lane,5,1,0.0,2014-02-25
264,1/16/14,Utah,Spanish Fork,37 N. 630 West,5,0,0.0,2014-01-16
47,10/24/14,Washington,Marysville,5611 108th St NE,5,1,0.0,2014-10-24
...,...,...,...,...,...,...,...,...
57,11/5/16,Illinois,Chicago,4800 block of North Winthrop,0,5,0.0,2016-11-05
58,11/4/16,Pennsylvania,Philadelphia,5451 Springfield Ave,0,4,0.0,2016-11-04
15,12/16/16,Illinois,Chicago,13th and South Kedzie,0,4,0.0,2016-12-16
11,12/23/16,Illinois,Chicago,4900 block of West Hubbard,0,4,0.0,2016-12-23
270,4/5/15,Michigan,Benton Harbor,1000 block of Blossom Lane,0,4,0.0,2015-04-05
8,12/24/16,North Carolina,Madison,490 K Ford Rd,0,7,0.0,2016-12-24
271,4/3/15,Florida,Daytona Beach,300 block of Henry Butts Drive,0,4,0.0,2015-04-03
272,4/2/15,Maryland,Baltimore,1900 block of West Lanvale Street,0,5,0.0,2015-04-02
273,3/27/15,Florida,Panama City Beach,5312 Thomas Drive,0,7,0.0,2015-03-27
274,3/26/15,Texas,Amarillo,3100 block of Redwood,0,4,0.0,2015-03-26
278,3/21/15,Florida,Tampa,1802 Seventh Ave,0,4,0.0,2015-03-21
283,3/15/15,California,Compton,2700 block of West Alondra Boulevard,0,4,0.0,2015-03-15
284,3/14/15,Georgia,Atlanta,2900 block of Delmar Lane,0,5,0.0,2015-03-14
285,3/14/15,California,Coachella,84000 block of Bagdad Avenue,0,4,0.0,2015-03-14
287,3/10/15,Georgia,Columbus,3023 Victory Drive,0,5,0.0,2015-03-10
290,3/7/15,Missouri,Saint Louis,3140 Olive St,0,4,0.0,2015-03-07
292,3/1/15,Florida,Orange County,4900 block of Steyr Street,0,4,0.0,2015-03-01
297,2/23/15,Florida,Daytona Beach,Sheridan Road,0,4,0.0,2015-02-23
300,2/22/15,South Carolina,Charleston,4224 Dorchester Road,0,4,0.0,2015-02-22
301,2/20/15,California,Sacramento,1417 R Street,0,4,0.0,2015-02-20
303,2/15/15,California,Long Beach,200 block of W. 14th Street,0,5,0.0,2015-02-15
305,2/8/15,Tennessee,Friendship,251 Dupree Rd,0,6,0.0,2015-02-08
309,2/1/15,New York,Syracuse,1217 West Fayette Street,0,6,0.0,2015-02-01
316,1/23/15,Massachusetts,Boston,954 Parker Street,0,6,0.0,2015-01-23
320,1/13/15,Virginia,Portsmouth,4100 block of Portsmouth Boulevard,0,5,0.0,2015-01-13
323,1/11/15,California,San Jose,3840 Monterey Hwy,0,5,0.0,2015-01-11
332,1/1/15,Tennessee,Memphis,Interstate 240 and Poplar Avenue,0,5,0.0,2015-01-01
2,12/30/16,Ohio,Mansfield,3230 Possum Run Rd,0,5,0.0,2016-12-30
5,12/25/16,Alabama,Ozark,858 US-231,0,4,0.0,2016-12-25
327,1/1/17,Florida,Miami,8000 block of NW 14th Ave,0,7,0.0,2017-01-01

In [78]:
df["# Killed"].sum()

1513

In [79]:
df['# Injured'].sum()

5693

In [77]:
df.sort_values(by='Kill+Injured', ascending=False)

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Date,Kill+Injured
55,10/1/17,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,441,0.0,2017-10-01,500
247,6/12/16,Florida,Orlando,1912 S Orange Avenue,50,53,0.0,2016-06-12,103
20,11/5/17,Texas,Sutherland Springs,216 4th St,27,20,0.0,2017-11-05,47
18,12/2/15,California,San Bernardino,1365 South Waterman Avenue,16,19,0.0,2015-12-02,35
236,5/17/15,Texas,Waco,4671 S Jack Kultgen Fwy,9,18,0.0,2015-05-17,27
152,7/1/17,Arkansas,Little Rock,220 W 6th St,0,25,0.0,2017-07-01,25
177,7/25/16,Florida,Fort Myers,3580 Evans Ave,2,19,0.0,2016-07-25,21
224,4/2/14,Texas,Fort Hood,Motor Pool Road and Tank Destroyer Boulevard,4,16,0.0,2014-04-02,20
66,10/1/15,Oregon,Roseburg,1140 Umpqua College Rd,10,9,0.0,2015-10-01,19
10,11/14/17,California,Corning,17357 Stagecoach Rd,6,12,0.0,2017-11-14,18
349,2/25/16,Kansas,Hesston,200 S Ridge Rd,4,14,0.0,2016-02-25,18
253,3/26/17,Ohio,Cincinnati,4601 Kellogg Ave,2,15,0.0,2017-03-26,17
31,11/22/15,Louisiana,New Orleans,1900 block of Gallier Street,0,17,0.0,2015-11-22,17
83,10/15/16,California,Los Angeles,2918 Rimpau Blvd,4,11,0.0,2016-10-15,15
193,7/16/16,California,Bakersfield,621 Stephens Drive,1,14,0.0,2016-07-16,15
67,9/28/14,Florida,Miami,NW 7th Ave and NW 64th Street,0,15,0.0,2014-09-28,15
206,7/7/16,Texas,Dallas,800 Main St,5,9,0.0,2016-07-07,14
137,8/21/16,Connecticut,Bridgeport,19 Plymouth St,0,13,0.0,2016-08-21,13
21,11/27/15,Colorado,Colorado Springs,3480 Centennial Blvd,3,9,0.0,2015-11-27,12
128,8/8/15,Arkansas,Blytheville,833 Anderson Street,1,11,0.0,2015-08-08,12
188,5/23/14,California,Goleta (Isla Vista),840 Embarcadero Del Norte,4,8,0.0,2014-05-23,12
192,6/20/15,Michigan,Detroit,Dexter and Webb,1,11,0.0,2015-06-20,12
190,5/28/17,Alabama,Phenix City,100 block of 6th Street South,0,12,0.0,2017-05-28,12
365,2/7/16,Florida,Orlando,7432 Universal Blvd,2,10,0.0,2016-02-07,12
146,7/23/15,Louisiana,Lafayette,3141 Johnson Street,3,9,0.0,2015-07-23,12
123,9/4/16,Virginia,Roanoke,1020 Orange Ave NE,1,10,0.0,2016-09-04,11
194,6/20/15,Pennsylvania,Philadelphia,4100 block of Ogden Street,0,11,0.0,2015-06-20,11
322,1/6/17,Florida,Fort Lauderdale,100 Terminal Dr,5,6,0.0,2017-01-06,11
31,11/27/16,Louisiana,New Orleans,100 block of Bourbon Street,1,9,0.0,2016-11-27,10
77,9/10/17,Texas,Plano,1712 West Spring Creek Parkway,9,1,0.0,2017-09-10,10
...,...,...,...,...,...,...,...,...,...
39,11/18/16,Illinois,Chicago,5000 block of West Wabansia,0,4,0.0,2016-11-18,4
327,1/7/15,Tennessee,Chattanooga,773 West Main Street,1,3,0.0,2015-01-07,4
326,1/8/15,Massachusetts,Boston,104 Harrishof Street,1,3,0.0,2015-01-08,4
325,1/9/15,California,San Francisco,Laguna and Page streets,4,0,0.0,2015-01-09,4
294,2/28/15,Maryland,Baltimore,4300 block of Welbourne Road,1,3,0.0,2015-02-28,4
271,4/3/15,Florida,Daytona Beach,300 block of Henry Butts Drive,0,4,0.0,2015-04-03,4
274,3/26/15,Texas,Amarillo,3100 block of Redwood,0,4,0.0,2015-03-26,4
275,3/24/15,Indiana,Indianapolis,3100 block of North Harding Street,4,0,0.0,2015-03-24,4
278,3/21/15,Florida,Tampa,1802 Seventh Ave,0,4,0.0,2015-03-21,4
280,3/18/15,New Jersey,Newark,200 block of Clinton Place,1,3,0.0,2015-03-18,4
283,3/15/15,California,Compton,2700 block of West Alondra Boulevard,0,4,0.0,2015-03-15,4
285,3/14/15,California,Coachella,84000 block of Bagdad Avenue,0,4,0.0,2015-03-14,4
288,3/9/15,Illinois,Chicago,200 block of West 105th,1,3,0.0,2015-03-09,4
289,3/8/15,South Carolina,Seneca,Wells Highway,1,3,0.0,2015-03-08,4
290,3/7/15,Missouri,Saint Louis,3140 Olive St,0,4,0.0,2015-03-07,4
292,3/1/15,Florida,Orange County,4900 block of Steyr Street,0,4,0.0,2015-03-01,4
296,2/25/15,Texas,Houston,5022 Mallow St,3,1,0.0,2015-02-25,4
324,1/10/15,Kansas,Wichita,4859 E Harry Street,2,2,0.0,2015-01-10,4
297,2/23/15,Florida,Daytona Beach,Sheridan Road,0,4,0.0,2015-02-23,4
300,2/22/15,South Carolina,Charleston,4224 Dorchester Road,0,4,0.0,2015-02-22,4
301,2/20/15,California,Sacramento,1417 R Street,0,4,0.0,2015-02-20,4
302,2/17/15,Arkansas,Little Rock,7900 Scott Hamilton,1,3,0.0,2015-02-17,4
304,2/9/15,Florida,New Port Richey,9552 Adler Street,3,1,0.0,2015-02-09,4
311,1/31/15,Georgia,Lagrange,100 block of Woodstream Trail,4,0,0.0,2015-01-31,4
312,1/28/15,Georgia,Dekalb County,1600 block of Panola Road,1,3,0.0,2015-01-28,4
313,1/26/15,California,Stockton,1500 block of E. 9th Street,1,3,0.0,2015-01-26,4
317,1/20/15,Tennessee,Clarksville,321 Lansinger Lane,1,3,0.0,2015-01-20,4
319,1/13/15,Illinois,Rockford,700 block of Oakley Avenue,2,2,0.0,2015-01-13,4
322,1/11/15,Florida,Lakeland,7665 Chase Road,1,3,0.0,2015-01-11,4
52,11/9/16,Tennessee,Memphis,1800 block of East Brooks Road,0,4,0.0,2016-11-09,4

In [58]:
df2 = df['Date'].value_counts()
df2.head()

2017-04-15    6
2017-04-29    6
2016-07-04    6
2014-07-05    6
2016-09-11    6
Name: Date, dtype: int64

In [59]:
df2.to_csv('Data/14-17Data.csv')

# Read in the new data file again

In [60]:
dff = pd.read_csv("Data/14-17Data.csv", names = ['Dates', 'Counts'])
dff.head()

        Dates  Counts
0  2017-04-15       6
1  2017-04-29       6
2  2016-07-04       6
3  2014-07-05       6
4  2016-09-11       6

In [61]:
dff['Date'] = pd.to_datetime(dff['Dates'], format="%Y-%m-%d")
dff.head()

        Dates  Counts       Date
0  2017-04-15       6 2017-04-15
1  2017-04-29       6 2017-04-29
2  2016-07-04       6 2016-07-04
3  2014-07-05       6 2014-07-05
4  2016-09-11       6 2016-09-11

In [62]:
dfDate= pd.read_csv("Data/14-17Date.csv")
dfDate.head()

    Dates
0  1/1/14
1  1/2/14
2  1/3/14
3  1/4/14
4  1/5/14

In [63]:
dfDate['Date'] = pd.to_datetime(dfDate['Dates'], format="%m/%d/%y")
dfDate.head()

    Dates       Date
0  1/1/14 2014-01-01
1  1/2/14 2014-01-02
2  1/3/14 2014-01-03
3  1/4/14 2014-01-04
4  1/5/14 2014-01-05

In [64]:
dff.dtypes

Dates             object
Counts             int64
Date      datetime64[ns]
dtype: object

In [65]:
dfDate.dtypes

Dates            object
Date     datetime64[ns]
dtype: object

In [66]:
dfFinal = pd.merge(dfDate, dff, on='Date', how='outer')
dfFinal.head()

  Dates_x       Date     Dates_y  Counts
0  1/1/14 2014-01-01  2014-01-01     1.0
1  1/2/14 2014-01-02         NaN     NaN
2  1/3/14 2014-01-03  2014-01-03     1.0
3  1/4/14 2014-01-04         NaN     NaN
4  1/5/14 2014-01-05         NaN     NaN

In [67]:
dfFinal = dfFinal.fillna(0)
dfFinal.head()

  Dates_x       Date     Dates_y  Counts
0  1/1/14 2014-01-01  2014-01-01     1.0
1  1/2/14 2014-01-02           0     0.0
2  1/3/14 2014-01-03  2014-01-03     1.0
3  1/4/14 2014-01-04           0     0.0
4  1/5/14 2014-01-05           0     0.0

In [68]:
dfFinal.to_csv('Data/14-17finalData.csv')

# How many shootings per year?

In [69]:
dff['year'] = dff['Date'].dt.year
dff.head()

        Dates  Counts       Date  year
0  2017-04-15       6 2017-04-15  2017
1  2017-04-29       6 2017-04-29  2017
2  2016-07-04       6 2016-07-04  2016
3  2014-07-05       6 2014-07-05  2014
4  2016-09-11       6 2016-09-11  2016

In [70]:
dfYear = dff.groupby('year')['Counts'].sum()
dfYear

year
2014    273
2015    333
2016    383
2017    328
Name: Counts, dtype: int64

In [71]:
dfYear.to_csv('Data/yearData.csv')