# 2014 - 2017 Shooting Data Analysis

Data Source: http://www.gunviolencearchive.org/

In [1]:
import pandas as pd

In [8]:
df14 = pd.read_csv("Data/2014.csv")
df15 = pd.read_csv("Data/2015.csv")
df16 = pd.read_csv("Data/2016.csv")
df17 = pd.read_csv("Data/2017.csv")
df18 = pd.read_csv("Data/2018.csv")
df14.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,12/31/14,California,Los Angeles,81st Street and Western Avenue,1,3,NaN
1,12/29/14,Louisiana,New Orleans,Poydras and Bolivar,0,4,NaN
2,12/27/14,California,Los Angeles,8800 block of South Figueroa Street,1,3,NaN
3,12/27/14,California,Sacramento,4000 block of May Street,0,4,NaN
4,12/26/14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,NaN

In [9]:
frames = [df14, df15, df16, df17, df18]

In [10]:
df = pd.concat(frames).fillna(0)
df.tail()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
115,1/7/18,Alabama,Union Springs,U.S. Highway 29,1,5,0.0
116,1/7/18,Florida,Plantation,5225 W Broward Blvd,0,4,0.0
117,1/5/18,Mississippi,Hattiesburg,6168 US 49,0,6,0.0
118,1/4/18,Arkansas,Brinkley,615 W 6th St,1,3,0.0
119,1/1/18,Alabama,Huntsville,2025 Sparkman Dr NW,1,3,0.0

In [11]:
df.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,12/31/14,California,Los Angeles,81st Street and Western Avenue,1,3,0.0
1,12/29/14,Louisiana,New Orleans,Poydras and Bolivar,0,4,0.0
2,12/27/14,California,Los Angeles,8800 block of South Figueroa Street,1,3,0.0
3,12/27/14,California,Sacramento,4000 block of May Street,0,4,0.0
4,12/26/14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,0.0

In [12]:
df['Date'] = pd.to_datetime(df['Incident Date'], format="%m/%d/%y")
df.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Date
0,12/31/14,California,Los Angeles,81st Street and Western Avenue,1,3,0.0,2014-12-31
1,12/29/14,Louisiana,New Orleans,Poydras and Bolivar,0,4,0.0,2014-12-29
2,12/27/14,California,Los Angeles,8800 block of South Figueroa Street,1,3,0.0,2014-12-27
3,12/27/14,California,Sacramento,4000 block of May Street,0,4,0.0,2014-12-27
4,12/26/14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,0.0,2014-12-26

In [13]:
df.to_csv('Data/14-18FullData.csv')

# Incident Analysis

In [14]:
df['Kill+Injured'] = df['# Killed'] + df['# Injured']
df.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Date,Kill+Injured
0,12/31/14,California,Los Angeles,81st Street and Western Avenue,1,3,0.0,2014-12-31,4
1,12/29/14,Louisiana,New Orleans,Poydras and Bolivar,0,4,0.0,2014-12-29,4
2,12/27/14,California,Los Angeles,8800 block of South Figueroa Street,1,3,0.0,2014-12-27,4
3,12/27/14,California,Sacramento,4000 block of May Street,0,4,0.0,2014-12-27,4
4,12/26/14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,0.0,2014-12-26,4

In [15]:
df.sort_values(by='# Killed', ascending=False)

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Date,Kill+Injured
71,10/1/17,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,441,0.0,2017-10-01,500
247,6/12/16,Florida,Orlando,1912 S Orange Avenue,50,53,0.0,2016-06-12,103
36,11/5/17,Texas,Sutherland Springs,216 4th St,27,20,0.0,2017-11-05,47
90,2/14/18,Florida,Pompano Beach (Parkland),5901 Pine Island Rd,17,17,0.0,2018-02-14,34
18,12/2/15,California,San Bernardino,1365 South Waterman Avenue,16,19,0.0,2015-12-02,35
19,5/18/18,Texas,Santa Fe,16000 Hwy 6,10,13,0.0,2018-05-18,23
66,10/1/15,Oregon,Roseburg,1140 Umpqua College Rd,10,9,0.0,2015-10-01,19
236,5/17/15,Texas,Waco,4671 S Jack Kultgen Fwy,9,18,0.0,2015-05-17,27
93,9/10/17,Texas,Plano,1712 West Spring Creek Parkway,9,1,0.0,2017-09-10,10
196,6/17/15,South Carolina,Charleston,110 Calhoun Street,9,0,0.0,2015-06-17,9
129,8/8/15,Texas,Houston,2211 Falling Oaks,8,0,0.0,2015-08-08,8
295,2/26/15,Missouri,Tyrone,18279 Highway H,8,1,0.0,2015-02-26,9
212,5/27/17,Mississippi,Bogue Chitto,2871 Lee Drive,8,1,0.0,2017-05-27,9
305,4/22/16,Ohio,Piketon,4077 Union Hill Road,8,0,0.0,2016-04-22,8
73,9/18/14,Florida,Bell,NW 30th Street and NW 39th Terrace,8,0,0.0,2014-09-18,8
15,12/15/14,Pennsylvania,Lansdale,100 block of West 5th St,7,0,0.0,2014-12-15,7
83,9/17/15,South Dakota,Geddes,36705 379th Street,6,0,0.0,2015-09-17,6
26,11/14/17,California,Corning,17357 Stagecoach Rd,6,12,0.0,2017-11-14,18
140,7/9/14,Texas,Spring,711 Leaflet Ln,6,1,0.0,2014-07-09,7
159,7/16/15,Tennessee,Chattanooga,4051 Amnicola Highway,6,2,0.0,2015-07-16,8
199,6/5/17,Florida,Orlando,2427 Forsyth Rd,6,0,0.0,2017-06-05,6
306,4/22/16,Georgia,Appling,3162 Johnson Drive,6,0,0.0,2016-04-22,6
373,1/27/16,Virginia,Chesapeake,1401 N. George Washington Hwy,6,0,0.0,2016-01-27,6
355,2/20/16,Michigan,Kalamazoo,5581 Cracker Barrel Blvd,6,2,0.0,2016-02-20,8
264,1/16/14,Utah,Spanish Fork,37 N. 630 West,5,0,0.0,2014-01-16,5
278,5/15/16,Georgia,Moultrie,Rossman Dairy Road,5,0,0.0,2016-05-15,5
350,2/23/16,Arizona,Glendale,4812 West Sunnyside Ave,5,0,0.0,2016-02-23,5
339,1/6/17,Florida,Fort Lauderdale,100 Terminal Dr,5,6,0.0,2017-01-06,11
212,6/7/15,Montana,Deer Lodge,Boulder Creek Road,5,0,0.0,2015-06-07,5
129,8/29/16,California,Temecula,41450 Cruz Way,5,0,0.0,2016-08-29,5
...,...,...,...,...,...,...,...,...,...
78,10/22/16,California,Oakland,77th and Bancroft Avenues,0,7,0.0,2016-10-22,7
11,12/16/17,Mississippi,Mc Cool (Mccool),Ferguson Rd,0,4,0.0,2017-12-16,4
12,12/15/17,California,Pacoima,13041 Jouett Street,0,5,0.0,2017-12-15,5
243,5/10/15,New Jersey,Jersey City,Bostwick Avenue,0,4,0.0,2015-05-10,4
14,12/12/17,Kentucky,Louisville,17th and Gallagher Streets,0,4,0.0,2017-12-12,4
15,12/12/17,Texas,Garland,1301 Rivercrest Ln,0,4,0.0,2017-12-12,4
16,12/6/17,Illinois,Chicago,4620 N Broadway,0,4,0.0,2017-12-06,4
81,10/15/16,Alabama,Mobile,1800 block of St Stephens Road,0,5,0.0,2016-10-15,5
48,10/27/15,Texas,Fort Worth,1700 block of Southcrest Drive,0,5,0.0,2015-10-27,5
237,5/16/15,Wisconsin,Milwaukee,28th Street and Auer Avenue,0,5,0.0,2015-05-16,5
238,5/16/15,New York,Rochester,188 Lewis Street,0,4,0.0,2015-05-16,4
358,2/20/16,Florida,Orlando,446 S Parramore Ave,0,4,0.0,2016-02-20,4
85,10/13/16,Illinois,Chicago,2700 block of West Lexington,0,4,0.0,2016-10-13,4
61,10/10/15,North Carolina,Charlotte,1900 block of West Boulevard,0,4,0.0,2015-10-10,4
60,10/10/15,Tennessee,Memphis,6135 Mount Moriah Road,0,6,0.0,2015-10-10,6
362,2/14/16,Alabama,Eutaw (Union),Earnest Friday Road,0,5,0.0,2016-02-14,5
363,2/13/16,Louisiana,Marrero,5425 Lapalco Boulevard,0,4,0.0,2016-02-13,4
59,10/12/15,Georgia,Decatur,4731 Glenwood Road,0,4,0.0,2015-10-12,4
58,10/17/15,Indiana,Elkhart,160 Easy Shopping Place,0,4,0.0,2015-10-17,4
367,2/7/16,Illinois,Chicago (Englewood),6500 block of South Green Street,0,4,0.0,2016-02-07,4
49,10/26/15,Indiana,Evansville,711 E Virginia St,0,5,0.0,2015-10-26,5
56,10/18/15,Louisiana,New Orleans,2600 block of Caffin Avenue,0,4,0.0,2015-10-18,4
369,2/6/16,Florida,Apopka,10th Street,0,4,0.0,2016-02-06,4
55,10/19/15,Illinois,Calumet City,300 Campbell Avenue,0,6,0.0,2015-10-19,6
371,2/3/16,District of Columbia,Washington,1500 block of Butler St. SE,0,4,0.0,2016-02-03,4
239,5/16/15,Maryland,Baltimore,1700 block of North Broadway,0,5,0.0,2015-05-16,5
53,10/24/15,South Carolina,Bamberg,682 Dixie Ave.,0,4,0.0,2015-10-24,4
52,10/25/15,District of Columbia,Washington,4300 block of Wheeler Road SE,0,5,0.0,2015-10-25,5
50,10/25/15,North Carolina,Four Oaks,2339 Stricklands Crossroads Road,0,5,0.0,2015-10-25,5
316,1/23/15,Massachusetts,Boston,954 Parker Street,0,6,0.0,2015-01-23,6

In [16]:
df["# Killed"].sum()

1667

In [17]:
df['# Injured'].sum()

6245

In [18]:
df.sort_values(by='Kill+Injured', ascending=False)

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Date,Kill+Injured
71,10/1/17,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,441,0.0,2017-10-01,500
247,6/12/16,Florida,Orlando,1912 S Orange Avenue,50,53,0.0,2016-06-12,103
36,11/5/17,Texas,Sutherland Springs,216 4th St,27,20,0.0,2017-11-05,47
18,12/2/15,California,San Bernardino,1365 South Waterman Avenue,16,19,0.0,2015-12-02,35
90,2/14/18,Florida,Pompano Beach (Parkland),5901 Pine Island Rd,17,17,0.0,2018-02-14,34
236,5/17/15,Texas,Waco,4671 S Jack Kultgen Fwy,9,18,0.0,2015-05-17,27
169,7/1/17,Arkansas,Little Rock,220 W 6th St,0,25,0.0,2017-07-01,25
19,5/18/18,Texas,Santa Fe,16000 Hwy 6,10,13,0.0,2018-05-18,23
177,7/25/16,Florida,Fort Myers,3580 Evans Ave,2,19,0.0,2016-07-25,21
224,4/2/14,Texas,Fort Hood,Motor Pool Road and Tank Destroyer Boulevard,4,16,0.0,2014-04-02,20
66,10/1/15,Oregon,Roseburg,1140 Umpqua College Rd,10,9,0.0,2015-10-01,19
349,2/25/16,Kansas,Hesston,200 S Ridge Rd,4,14,0.0,2016-02-25,18
26,11/14/17,California,Corning,17357 Stagecoach Rd,6,12,0.0,2017-11-14,18
31,11/22/15,Louisiana,New Orleans,1900 block of Gallier Street,0,17,0.0,2015-11-22,17
270,3/26/17,Ohio,Cincinnati,4601 Kellogg Ave,2,15,0.0,2017-03-26,17
105,1/23/18,Kentucky,Benton,416 High School Road,2,14,0.0,2018-01-23,16
83,10/15/16,California,Los Angeles,2918 Rimpau Blvd,4,11,0.0,2016-10-15,15
193,7/16/16,California,Bakersfield,621 Stephens Drive,1,14,0.0,2016-07-16,15
67,9/28/14,Florida,Miami,NW 7th Ave and NW 64th Street,0,15,0.0,2014-09-28,15
206,7/7/16,Texas,Dallas,800 Main St,5,9,0.0,2016-07-07,14
137,8/21/16,Connecticut,Bridgeport,19 Plymouth St,0,13,0.0,2016-08-21,13
21,11/27/15,Colorado,Colorado Springs,3480 Centennial Blvd,3,9,0.0,2015-11-27,12
365,2/7/16,Florida,Orlando,7432 Universal Blvd,2,10,0.0,2016-02-07,12
188,5/23/14,California,Goleta (Isla Vista),840 Embarcadero Del Norte,4,8,0.0,2014-05-23,12
128,8/8/15,Arkansas,Blytheville,833 Anderson Street,1,11,0.0,2015-08-08,12
192,6/20/15,Michigan,Detroit,Dexter and Webb,1,11,0.0,2015-06-20,12
207,5/28/17,Alabama,Phenix City,100 block of 6th Street South,0,12,0.0,2017-05-28,12
146,7/23/15,Louisiana,Lafayette,3141 Johnson Street,3,9,0.0,2015-07-23,12
194,6/20/15,Pennsylvania,Philadelphia,4100 block of Ogden Street,0,11,0.0,2015-06-20,11
123,9/4/16,Virginia,Roanoke,1020 Orange Ave NE,1,10,0.0,2016-09-04,11
...,...,...,...,...,...,...,...,...,...
28,11/28/16,Texas,Mission (Palmview),1840 West Palma Vista Drive,1,3,0.0,2016-11-28,4
5,12/25/16,Alabama,Ozark,858 US-231,0,4,0.0,2016-12-25,4
9,12/24/16,North Carolina,Wilson,2241 Banks Lane East,4,0,0.0,2016-12-24,4
10,12/23/16,Alabama,Birmingham,3813 Richard Arrington Boulevard North,1,3,0.0,2016-12-23,4
11,12/23/16,Illinois,Chicago,4900 block of West Hubbard,0,4,0.0,2016-12-23,4
12,12/17/16,North Carolina,Charlotte,4115 N. Tryon Street,0,4,0.0,2016-12-17,4
14,12/16/16,Illinois,Chicago,4300 block of South Rockwell,2,2,0.0,2016-12-16,4
15,12/16/16,Illinois,Chicago,13th and South Kedzie,0,4,0.0,2016-12-16,4
16,12/12/16,California,Sacramento,4800 block of Myrtle Avenue,1,3,0.0,2016-12-12,4
17,12/11/16,New York,Brooklyn,192 Knickerbocker Ave,0,4,0.0,2016-12-11,4
20,12/11/16,North Carolina,Rocky Mount,1200 block of East Highland Ave,0,4,0.0,2016-12-11,4
21,12/9/16,Texas,Channelview,15300 block of Market,4,0,0.0,2016-12-09,4
22,12/9/16,California,Fresno,842 Fresno Street,0,4,0.0,2016-12-09,4
26,12/1/16,California,Clearlake Oaks,0,1,3,0.0,2016-12-01,4
29,11/28/16,California,Wilmington,1067 McDonald Avenue,0,4,0.0,2016-11-28,4
54,11/5/16,Texas,San Antonio,10726 Perrin Beitel Rd,0,4,0.0,2016-11-05,4
30,11/28/16,California,San Pedro,300 block of West 2nd Street,0,4,0.0,2016-11-28,4
34,11/25/16,Louisiana,New Orleans,Magnolia Street and Felicity Street,0,4,0.0,2016-11-25,4
36,11/24/16,New York,Albany,77 Central Ave,1,3,0.0,2016-11-24,4
37,11/23/16,Mississippi,Olive Branch,928 Cross Road,0,4,0.0,2016-11-23,4
39,11/18/16,Illinois,Chicago,5000 block of West Wabansia,0,4,0.0,2016-11-18,4
42,11/13/16,Texas,San Antonio,8000 Midcrown,0,4,0.0,2016-11-13,4
44,11/13/16,Florida,Orlando,Conley Street and South Ivey Lane,0,4,0.0,2016-11-13,4
46,11/12/16,Missouri,Kansas City,21st St and Cleveland Ave,1,3,0.0,2016-11-12,4
48,11/11/16,Texas,Houston,7705 Channelside Street,0,4,0.0,2016-11-11,4
49,11/10/16,Texas,Houston,6610 S Sam Houston Pkwy W,1,3,0.0,2016-11-10,4
51,11/9/16,Illinois,Chicago,3400 block of W Monroe,1,3,0.0,2016-11-09,4
52,11/9/16,Tennessee,Memphis,1800 block of East Brooks Road,0,4,0.0,2016-11-09,4
53,11/5/16,Florida,Fort Lauderdale (Lauderhill),3135 West Broward Boulevard,1,3,0.0,2016-11-05,4
119,1/1/18,Alabama,Huntsville,2025 Sparkman Dr NW,1,3,0.0,2018-01-01,4

In [19]:
df2 = df['Date'].value_counts()
df2.head()

2016-07-04    6
2014-07-05    6
2016-09-11    6
2017-04-15    6
2015-11-22    6
Name: Date, dtype: int64

In [20]:
df2.to_csv('Data/14-18Data.csv')

# Read in the new data file again

In [21]:
dff = pd.read_csv("Data/14-18Data.csv", names = ['Dates', 'Counts'])
dff.head()

        Dates  Counts
0  2016-07-04       6
1  2014-07-05       6
2  2016-09-11       6
3  2017-04-15       6
4  2015-11-22       6

In [22]:
dff['Date'] = pd.to_datetime(dff['Dates'], format="%Y-%m-%d")
dff.head()

        Dates  Counts       Date
0  2016-07-04       6 2016-07-04
1  2014-07-05       6 2014-07-05
2  2016-09-11       6 2016-09-11
3  2017-04-15       6 2017-04-15
4  2015-11-22       6 2015-11-22

In [25]:
dfDate= pd.read_csv("Data/14-18Date.csv")
dfDate.head()

    Dates
0  1/1/14
1  1/2/14
2  1/3/14
3  1/4/14
4  1/5/14

In [26]:
dfDate['Date'] = pd.to_datetime(dfDate['Dates'], format="%m/%d/%y")
dfDate.head()

    Dates       Date
0  1/1/14 2014-01-01
1  1/2/14 2014-01-02
2  1/3/14 2014-01-03
3  1/4/14 2014-01-04
4  1/5/14 2014-01-05

In [27]:
dff.dtypes

Dates             object
Counts             int64
Date      datetime64[ns]
dtype: object

In [28]:
dfDate.dtypes

Dates            object
Date     datetime64[ns]
dtype: object

In [29]:
dfFinal = pd.merge(dfDate, dff, on='Date', how='outer')
dfFinal.head()

  Dates_x       Date     Dates_y  Counts
0  1/1/14 2014-01-01  2014-01-01     1.0
1  1/2/14 2014-01-02         NaN     NaN
2  1/3/14 2014-01-03  2014-01-03     1.0
3  1/4/14 2014-01-04         NaN     NaN
4  1/5/14 2014-01-05         NaN     NaN

In [30]:
dfFinal = dfFinal.fillna(0)
dfFinal.head()

  Dates_x       Date     Dates_y  Counts
0  1/1/14 2014-01-01  2014-01-01     1.0
1  1/2/14 2014-01-02           0     0.0
2  1/3/14 2014-01-03  2014-01-03     1.0
3  1/4/14 2014-01-04           0     0.0
4  1/5/14 2014-01-05           0     0.0

In [32]:
dfFinal.to_csv('Data/14-18finalData.csv')

# How many shootings per year?

In [33]:
dff['year'] = dff['Date'].dt.year
dff.head()

        Dates  Counts       Date  year
0  2016-07-04       6 2016-07-04  2016
1  2014-07-05       6 2014-07-05  2014
2  2016-09-11       6 2016-09-11  2016
3  2017-04-15       6 2017-04-15  2017
4  2015-11-22       6 2015-11-22  2015

In [34]:
dfYear = dff.groupby('year')['Counts'].sum()
dfYear

year
2014    273
2015    333
2016    383
2017    345
2018    120
Name: Counts, dtype: int64

In [35]:
dfYear.to_csv('Data/yearData.csv')